* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar-nav .navbar-contact-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.navbar-nav .navbar-contact-btn::after, .navbar-nav .navbar-contact-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.navbar-nav .navbar-contact-btn i {
  font-size: 15px;
  color: #ffff;
  line-height: 2.1;
}

.navbar-nav .navbar-contact-btn span {
  font-size: 15px;
  font-weight: 400;
  color: #ffff;
  line-height: 2.1;
}

.navbar-nav .btn-expand::before {
  background: #ffff;
  -webkit-box-shadow: inset 0 0 0 60px #b61883;
          box-shadow: inset 0 0 0 60px #b61883;
}

.navbar-nav .btn-expand:hover::before {
  -webkit-box-shadow: inset 0 0 0 1px #b61883;
          box-shadow: inset 0 0 0 1px #b61883;
}

.navbar-nav .btn-expand:hover i {
  font-size: 15px;
  color: #b61883;
  line-height: 2.1;
}

.navbar-nav .btn-expand:hover span {
  font-size: 15px;
  font-weight: 400;
  color: #b61883;
  line-height: 2.1;
}

.right__input .btn-form-course {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.right__input .btn-form-course::after, .right__input .btn-form-course::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.right__input .btn-form-course a {
  font-size: 25px;
  font-weight: 300;
  color: #ffff;
  padding: 0 70px;
  line-height: 2.1;
  position: relative;
}

.right__input .btn-expand::before {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 60px #b61883;
          box-shadow: inset 0 0 0 60px #b61883;
}

.right__input .btn-expand:hover::before {
  -webkit-box-shadow: inset 0 0 0 1px #b61883;
          box-shadow: inset 0 0 0 1px #b61883;
}

.right__input .btn-expand:hover a {
  font-size: 25px;
  font-weight: 300;
  color: #b61883;
  padding: 180px 70px;
  line-height: 2.1;
}

.letter__content .btn-footer {
  padding: 12px 12px;
  border: none;
  border-radius: 50px;
  margin-top: 9px;
  overflow: hidden;
  position: relative;
}

.letter__content .btn-footer a {
  color: rgba(41, 48, 59, 0.801);
  font-weight: 600;
  position: relative;
}

.letter__content .btn-footer::after, .letter__content .btn-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.letter__content .btnExpand::after {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.letter__content .btnExpand::before {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 60px white;
          box-shadow: inset 0 0 0 60px white;
  color: black;
}

.letter__content .btnExpand:hover::before {
  -webkit-box-shadow: inset 0 0 0 1px #ffff;
          box-shadow: inset 0 0 0 1px #ffff;
}

.letter__content .btnExpand:hover a {
  color: white;
}

.card {
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.card .card__img {
  overflow: hidden;
}

.card .card-img-top {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card .card-body {
  overflow: hidden;
}

.card .card-title p:nth-child(1) {
  font-size: 15px;
  font-weight: 700;
  color: #b61883;
}

.card .card-title p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgba(41, 48, 59, 0.801);
}

.card:hover {
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.card:hover .card-img-top {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__content {
  width: 90%;
  margin: 0 auto;
  padding: 0 0;
}

.header__content .navbar-toggler {
  background-color: #b61883;
}

.header__content .navbar-toggler .navbar-toggler-icon i {
  line-height: 1.5;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item a {
  font-size: 20px;
  font-weight: 600;
  color: rgba(41, 48, 59, 0.801);
  position: relative;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: #b61883;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav .nav-item.active .nav-link::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #b61883;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #b61883;
}

.navbar-nav .nav-item:hover .nav-link::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #b61883;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav .nav-item.navbar-socials a {
  margin-left: 3px;
}

.navbar-nav .nav-item.navbar-socials a:hover {
  color: #b61883;
}

.header__bg {
  z-index: -1;
  position: absolute;
}

@media screen and (min-width: 1311px) {
  .navbar-contact-btn {
    padding: 5px 7px;
    border: none;
    border-radius: 20px;
  }
  .navbar-contact-btn i {
    font-size: 8px;
  }
  .navbar-contact-btn span {
    font-size: 8px;
    font-weight: 400;
    color: #ffff;
  }
}

.carousel {
  background-image: url("./../../img/Violet_top_left_wave.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.carousel__content {
  width: 85%;
  margin: 0 auto;
  padding: 0 0;
}

.carousel__content .carousel__left {
  padding-top: 180px;
}

.carousel__content .carousel__left h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #b61883;
}

.carousel__content .carousel__left h1 {
  font-size: 60px;
  font-weight: 700;
  color: rgba(41, 48, 59, 0.801);
}

@media (max-width: 992px) {
  .carousel__content .carousel__left {
    padding-top: 100px;
  }
  .carousel__content .carousel__left h1 {
    font-size: 40px;
  }
}

.teacher {
  background-color: #dcd1f3;
  background-image: url("./../../img/Wave_White_bottom_right_shape_01.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.teacher__content {
  width: 85%;
  margin: 0 auto;
  padding: 0 15px;
}

.teacher__content .item__content {
  margin-top: 50px;
}

.course__content {
  width: 75%;
  margin: 0 auto;
  padding: 100px 15px;
}

.course__content .right__content {
  -webkit-box-shadow: 0 3px 30px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 30px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.course {
  position: relative;
  overflow: hidden;
}

.course__bg {
  background-image: url("./../../img/accent_bottom_wave_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
  width: 100%;
}

.input__content1 i, .input__content2 i {
  position: absolute;
  z-index: 1;
  color: #b61883;
}

.input__content1 input, .input__content2 input {
  position: relative;
  padding: 8px 10px;
  width: 200px;
  outline: solid 1px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: -15px;
  padding-left: 40px;
}

.input__content1 input:focus, .input__content2 input:focus {
  outline: solid 1px rgba(0, 0, 0, 0.5);
  border: none;
}

.input__content3 i {
  position: absolute;
  z-index: 1;
  color: #b61883;
}

.input__content3 .right__dropdow__content {
  position: relative;
  padding: 10px 10px;
  width: 435px;
  outline: solid 1px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: -15px;
  padding-left: 40px;
}

.input__content3 .right__dropdow__content:focus {
  outline: solid 1px rgba(0, 0, 0, 0.5);
  border: none;
}

.input__content4 i {
  position: absolute;
  z-index: 1;
  color: #b61883;
}

.input__content4 .input__content4_textarea {
  position: relative;
  padding: 10px 10px;
  width: 435px;
  outline: solid 1px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: -15px;
  padding-left: 40px;
}

.input__content4 .input__content4_textarea:focus {
  outline: solid 1px rgba(0, 0, 0, 0.5);
  border: none;
}

.footer__item .letter__content input:nth-child(1) {
  padding: 12px 15px;
  border-radius: 50px;
  outline: solid 1px rgba(255, 255, 255, 0.2);
  border: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #aa017e;
}

.footer__item .letter__content input:nth-child(1):focus {
  outline: solid 1px #ffff;
}

.footer__item .letter__content input:nth-child(1)::-webkit-input-placeholder {
  color: #ffff;
}

.footer__item .letter__content input:nth-child(1):-ms-input-placeholder {
  color: #ffff;
}

.footer__item .letter__content input:nth-child(1)::-ms-input-placeholder {
  color: #ffff;
}

.footer__item .letter__content input:nth-child(1)::placeholder {
  color: #ffff;
}

.footer__content {
  width: 90%;
  margin: 0 auto;
  padding: 100px 15px;
}

.footer__content .footer__item h4 {
  font-size: 25px;
  font-weight: 700;
  color: #ffff;
  margin-bottom: 25px;
}

.footer__content .footer__item ul {
  list-style: none;
}

.footer__content .footer__item ul li {
  margin-bottom: 15px;
  padding-bottom: 8px;
}

.footer__content .footer__item ul li a {
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: #ffff;
}

.footer__content .footer__item ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer__content .footer__item:nth-child(2) ul li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.footer__content .footer__item:nth-child(3) ul li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.footer {
  background-image: url("./../../img/footer_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
  width: 100%;
  height: 540px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 44%;
  z-index: 999;
  top: 200px;
}

.lds-spinner div {
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */