@import "./Helpers/variables";
@import "./Helpers/mixin";
@import "./Base/reset";
@import "./Components/buttons";
@import "./Components/card";
@import "./Layouts/header";
@import "./Layouts/carousel";
@import "./Layouts/teacher";
@import "./Layouts/course";
@import "./Components/input";
@import "./Layouts/footer";