@mixin styleLayouts($w, $pdX, $pdY) {
  width: $w;
  margin: 0 auto;
  padding: $pdX $pdY;
}

@mixin styleText($fs, $fw, $color) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

@mixin styleAfterNav($wh) {
  content: "";
  position: absolute;
  width: $wh;
  height: $wh;
  background-color: $color-pink-0;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: all 0.2s;
}

@mixin styleList {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

@mixin styleBtn($pdX, $pdY, $bd, $bd-r) {
  padding: $pdX $pdY;
  border: $bd;
  border-radius: $bd-r;
}

@mixin styleBtnBeforeAfter {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: all 0.25s ease;
}

@mixin styleBtnExpand {
  background: $color-white-0;
  box-shadow: inset 0 0 0 60px $color-pink-0;
}

@mixin styleBtnExpandHover {
  box-shadow: inset 0 0 0 1px $color-pink-0;
}

@mixin styleInput($pdX, $pdY, $w) {
  position: relative;
  padding: $pdX $pdY;
  width: $w;
  outline: solid 1px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
  left: -15px;
  padding-left: 40px;
}

@mixin styleInputFocus() {
  outline: solid 1px rgba(0, 0, 0, 0.5);
  border: none;
}

@mixin styleInputI() {
  position: absolute;
  z-index: 1;
  color: $color-pink-0;
}

@mixin respond($breakpoint) {
  @if $breakpoint == smail {
    @media (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == large {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == xlarge {
    @media (max-width: 1800px) {
      @content;
    }
  }
}
