//font size
$fs-1: 8px;
$fs-2: 15px;
$fs-3: 1.1rem;
$fs-4: 1.8rem;
$fs-5: 12px;
$fs-6: 50px;
$fs-7: 60px;



// color
$color-black-0: #29303b;
$color-pink-0 : #b61883;
$color-white-0 :#ffff;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;
$fw-4: 300;

//Padding
$pd-1: 12px;
$pd-2: 15px;
$pd-3: 180px;

// Border radius
$br-1: 50px;