.carousel__content {
  @include styleLayouts(85%, 0, 0);
  .carousel__left {
    padding-top: $pd-3;

    h2 {
      @include styleText($fs-3, $fw-3, $color-pink-0);
    }

    h1 {
      @include styleText($fs-7, $fw-3, $color-black-0);
    }
  }

  @include respond(large) {
    .carousel__left {
      padding-top: $pd-4;
      h1 {
        font-size: 40px;
      }
    }
  }
}
