.header__content {
  @include styleLayouts(90%, 0, 0);
  .navbar-toggler {
    background-color: $color-pink-0;
    .navbar-toggler-icon {
      i {
        line-height: 1.5;
      }
    }
  }
}

.navbar-nav {
  margin-left: auto;
  .nav-item {
    a {
      @include styleText($fs-9, $fw-2, $color-black-0);
      position: relative;
      &::after {
        @include styleAfterNav(0);
      }
    }
    &.active {
      .nav-link {
        &::after {
          @include styleAfterNav($fs-1);
        }
      }
    }

    &:hover {
      .nav-link {
        color: $color-pink-0;

        &::after {
          @include styleAfterNav($fs-2);
        }
      }
    }
  }
}

.navbar-nav {
  .nav-item.navbar-socials {
    a {
      margin-left: 3px;
    }
    a:hover {
      color: $color-pink-0;
    }
  }
}

.header__bg {
  z-index: -1;
  position: absolute;
}

@media screen and (min-width: 1311px) {
  .navbar-contact-btn {
    @include styleBtn(5px, 7px, none, $fs-9);
    i {
      font-size: $fs-1;
    }
    span {
      @include styleText($fs-1, $fw-1, $color-white-0);
    }
  }
}
